@model IEnumerable<Librería.Models.factura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombreCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
    </tr>
}

</table>
